body{
	margin: 0;
	display: flex;
	justify-content: space-between;
}

h1{
	color: #FFC069;
	font-size: 5em;
	font-family: 'Fredericka the Great', cursive;
}

#area-de-texto{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 50vw;
	background-color: #4A403A;
}

#area-de-titulo{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100vh;
	width: 50vw;		
	background-image: url(../Sources/images/paper_bg.png);
}

.formated-text{
	color: #FFC069;
	font-family: 'Poppins', sans-serif;
}

.center-area{
	width: 80%;
	align-items: left;
	display: flex;
	flex-direction: column;
}

.center-area textarea{
	height: 300px;
	font-size: 1em;
	font-family: lato;
	font-weight: bold;
	resize: none;
}

#button-area{
	display: flex;
	justify-content: space-between;
}

.text-transformation{
	width: 50%;
	height: 30px;
	background-color: transparent;
	border-radius: 50px;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-row{
	display: flex;
	flex-direction: row;
}

#social-media{
	width: 100%;
	margin-top: 3%;
	justify-content: space-evenly;
}

